body {
  margin: 0;
  padding: 0;
  background-color: #aaaaaa;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#LANDING {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.landing {
  color: #ffffff;
  text-align: center;
}





/* Borrowed Code Particles by Matteo Bruni*/

#PARTICLES {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
}



/* Halftone thing (from css-irl) */

.halftone {
  --mask: linear-gradient(
    to top,
    rgb(0 0 0),
    rgb(0 0 0 / 0.001)
  );

  --stop1: 0.001rem;
  --stop2: 0.75rem;
  --dotColor: #000000;
  --dottedBackground: radial-gradient(
    circle at center,
    var(--dotColor) var(--stop1),
    transparent var(--stop2)
  );

  position: absolute;
  padding-top: 10rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  filter: contrast(50);
  mix-blend-mode: multiply;
  isolation: isolate;
  z-index: -2;
}


.halftone::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--dottedBackground);
  background-size: 0.5rem 0.5rem;
  background-repeat: round;
  mask-image: var(--mask);
  -webkit-mask-image: var(--mask);
}



/* Google Font Thing */

.spectral-extralight {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: normal;
}

.spectral-light {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-medium {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
}

.spectral-semibold {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
}

.spectral-bold {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

.spectral-extrabold {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: normal;
}

.spectral-extralight-italic {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: italic;
}

.spectral-light-italic {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: italic;
}

.spectral-regular-italic {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: italic;
}

.spectral-medium-italic {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: italic;
}

.spectral-semibold-italic {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: italic;
}

.spectral-bold-italic {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: italic;
}

.spectral-extrabold-italic {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: italic;
}
